---
 const personalImageAlt = "Pablo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row" id="about">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p class="text-pretty">
    Hello! My name is Pablo (though family and close friends call me <span class="italic">"Paul"</span>). I am a 24-year-old from a town in <strong> Toledo.</strong>
</p>
<p class="text-pretty">
    I recently graduated with honors in <strong> Web Development</strong>, and I particularly enjoy the creative freedom offered by frontend development—the ability to transform ideas into visually appealing interfaces that <strong>convey emotions </strong>to the user.
</p>
<p class="text-pretty">
    Among my achievements, I am proud to mention that at the<strong> age of 15</strong>, my classmates and I created an <strong>automated beer mashing system</strong> with Arduino, which was selected as one of the top 40 projects in the STEM challenge.
</p>
<p class="text-pretty">
    During my training, I specialized in technologies such as <strong>HTML, CSS, JavaScript</strong>, and frameworks like <strong>React and Angular</strong>, among many others. I believe in the importance of following good development practices, such as <strong>SOLID principles</strong>, and I enjoy sharing knowledge with my peers.
</p>
  </div>
    <!-- <p>
      ¡Hola! Me llamo Pablo( para los familiares y más allegados <span class="italic">"Paul"</span> ).Soy un chico de 24 años de un pueblo de Toledo. 
      <p>Recientemente he acabado
      de estudiar Desarrollo Web con matrícula de honor,y, me encanta especialmente la libertad creativa que ofrece el desarrollo frontend; el poder de transformar ideas en interfaces visuales atractivas que transmitan emociones al usuario</p> </p>
     <p>Entre algunos de mis logros destaco que con 15 años junto a mis compañeros de clase realizamos un macerador de cerveza automatizado con Arduino que fue seleccionado entre los 40 mejores proyectos del desafío STEM.
      </p>Durante mi formación, me he especializado en tecnologías como HTML, CSS, JavaScript y frameworks como React o Angular entre muchas otras tecnologías. Creo en la importancia de seguir buenas prácticas de desarrollo como los principios SOLID y disfruto compartiendo conocimientos con mis compañeros.</p> 
  </div> -->

  <img width="200" height="200" src="../../public/img/alternativeImage.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-t-3xl rounded-br-3xl  dark:bg-yellow-500/5 ring-2 ring-black/40 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
