
  <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-sm font-medium dark:bg-transparent dark:border-emerald-100 border-solid dark:text-emerald-100 dark:hover:bg-emerald-500 dark:hover:border-none dark:hover:text-emerald-50 bg-gray-100 text-blue-500 border-2 border-blue-500 hover:text-gray-50 hover:bg-blue-500">
    <slot/>
    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" >
        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path>
        <path d="m9 12 2 2 4-4"> </path>
      </svg>
    </span>