
    <footer class=" rounded-lg shadow m-4 bg-transparent backdrop-blur-lg mt-20 w-full xl:w-[1120px] mx-auto mb-10 text-yellow-50 bg-slate-600  dark:bg-transparent">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm sm:text-center font-medium text-yellow-100 dark:text-yellow-100/80">&copy; 2024 <a href="https://www.linkedin.com/in/pabloagdb/" class="hover:underline">Pablo Atahonero García de Blas</a>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium  sm:mt-0">
            <li>
                <a href="#about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="mailto:pabloagb@outlook.es" class="hover:underline">Contact</a>
            </li>
        </ul>
        </div>
    </footer>
    
