
    <footer class=" rounded-lg shadow m-4 bg-transparent backdrop-blur-lg mt-20 w-full xl:w-[1120px] mx-auto mb-10">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm sm:text-center text-yellow-200/80">&copy; 2024 <a href="https://www.linkedin.com/in/pabloagdb/" class="hover:underline">Pablo Atahonero García de Blas</a>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-200/80 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#contact" class="hover:underline">Contact</a>
            </li>
        </ul>
        </div>
    </footer>
    
