---
import Image from "astro/components/Image.astro";
---

<header class="flex justify-center mx-auto items-center py-5 w-full xl:w-[1120px]">

<nav>
    <div class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </div>
    
    
</nav>

</header>